/*stylesheet*/

/* vars */
:root {
  --background-color: #000;
  --body-color: #111;
}

html, body {
  height: 100%;
  margin: 0;
  color:  var(--body-color);  
  background: var(--background-color);
}

#wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

#background-image-open {
  margin: 0;
  padding: 0;

  background-image: url(../images/comp_grass_bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 }

 #enter {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
 }

 #enter-button {
  padding-top: 100px;
  width: 100%;
  text-align: center;
 }

 #headphones {
  position: absolute;
  bottom:  0;
  width: 100%;
  text-align: center;
 }

 @keyframes fadeIn { 
  from { opacity: 0; } 
}

.animate-flicker {
    animation: fadeIn 1s infinite alternate;
}

#background-image-loading {
  margin: 0;
  padding: 0;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 }

#ctrlloading {
  width: 100%;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 150px;
}

 #lyricsloop {
  position: absolute;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  text-align: center;
  }

  #startgif {
  position: absolute;
  width: 100%;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  }

  #designedbyemily {
  width: 100%;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 100px;
}

