/*stylesheet*/

/* vars */
:root {
  --background-color: #000;
  --body-color: #111;
}

body {
  margin: 0;
  color:  var(--body-color);  
  background: var(--background-color);
}

#wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

#background-image {
  margin: 0;
  padding: 0;

  width: auto; min-height: auto;
  background-image: url(..images/opening_page.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 }
