/*stylesheet*/

/* vars */
:root {
  --background-color: #fff;
  --body-color: #111;
}

body {
  margin: 0;
  color:  var(--body-color);  
  background: var(--background-color);
}

#wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

{
  /* background */
  margin: 0; padding: 0;
  width: 100vw; min-height: 100vh;
  background-image: url("opening_page.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}